
<mtapp:setting
   id="track_clicks"
   label="Track Clicks"
   show_help="0"><intput type="cb" class="cb" name="track_clicks"<mt:if name="track_clicks"> checked="checked"</mt:if> value="1" />
</mtapp:setting>
