
<mtapp:setting
   id="track_clicks"
   label="Track Clicks"
   show_help="0">
  <input type="checkbox" class="cb" name="track_clicks"<mt:if name="track_clicks"> checked="checked"</mt:if> value="1" />
</mtapp:setting>

<mtapp:setting
   id="url_template"
   label="Short Url Template"
   show_help="0">
  <input type="text" name="url_template" id="url_template" value="<mt:var name="url_template" escape="html">" />
</mtapp:setting>
